body{

    background-color: black;

}


.Image1{

    height: 50%;
    width: 50%;
    margin-left: 35%;
    border: 5px solid white;
}

.h1p
{
    text-align: center;
    color: white;
    font-family: 'Arimo', sans-serif;
   
}



